.weatherDiv{
    position: fixed;
    top: 210px;
    right: 250px;

    background: linear-gradient(var(--blue), var(--lightBlue));
    width: 20%;
    border-radius: 6px;
    box-shadow: 0px 60px 80px -20px rgba(0,0,0,0.5);
    overflow: hidden;
}

@media only screen and (max-width: 1100px) {
    .weatherDiv {

    }
}

/* This is how u do responsive css, use media queries */
@media only screen and (max-width: 750px) {
    .weatherDiv {
        max-width: 60%;
    }
}

@media only screen and (max-width: 700px) {
    .weatherDiv {
        max-width: 80%;
    }
}