.body {
    background-color: rgb(239, 244, 248);
}
.content {
    display: flex;
    justify-content: space-around;
    background-color: rgb(0, 1, 12);
    height: 75px;
    margin: 0;
    padding: 0;
    width: 100%;
}

button {
    border: none;
    background: none;
}

a {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:aliceblue;
    margin: 20px;
    font-size: 1.4rem;
    text-decoration: none;
}

a:hover {
    color: rgb(212, 139, 54);
}

/* This is how u do responsive css, use media queries */
@media only screen and (max-width: 600px) {
    .content {
      background-color: lightblue;
    }
  }